

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}



#form {
    background-color: white;
    width: 400px;
    height: 450px;
    margin-bottom: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #0c0d0d;
}

#title {
    border-top-right-radius: 10px;
    border-top-left-radius:  10px;
    width: 100%;
    height: 50px;
    background-color: #44aedb;
    color:white;
}



