<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
        <div id="box">
            <div id="head-logo">
                <img id="logo" src="{% static 'media/image/заяц.png' %}">
            </div>

            <div id="box-form">
                <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <label for="login">Логин:</label><br>
                <input type="text" id="login" name="username" required placeholder="Логин или email"><br><br>

                <label for="password">Пароль:</label><br>
                <input type="password" id="password" name="password" required placeholder="Введите пароль"><br><br>

                <button type="submit" class="btn btn-primary" id="button">Войти</button>
                </form>

                <br>
                <p id="registration"><a href="{% url 'registration' %}">Зарегистрироваться</a></p>
            </div>

        </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>